html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(204, 122, 0, 0.5);
}

#cover {
    margin: 0;
    text-align: center;
    height: 45%;
    /* Find an appropriate picture */
    background-image: url('/images/cover.jpg'), url('images/cover2.jpg');
    background-size: cover;
    padding: 20px;
}

#cover_text {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 5px;
    width: 60%;
    border: 0.5px solid #cc7a00;
}

hr {
    width: 200px;
    margin: 0 auto;
    padding: 0;
    color: black;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 10px;
}

#brand_name {
    font-size: 6em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Qwigley", "Times New Roman", serif;
    font-weight: 400;
    padding: 0;
}

.letter {
    color: #cc7a00;
}

#proposition {
    font-size: 1.2em;
    font-weight: 100;
}

ul {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    list-style-type: none;
    background-color: #333333;
    height: 50px;
}

li {
    margin: 0;
    padding: 0;
    float: right;
    transition: background-color 0.5s;
}

#logo {
    float: left;
    height: 50px;
}

#logo:hover {
    background-color: black;
}

a {
    display: block;
    margin: 0;
    padding: 0 50px;
    line-height: 50px;
    height: 100%;
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #915700;
}

section {
    padding: 20px 0;
    margin: 0px auto 20px;
    text-align: center;
    width: 70%;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px auto;
}

h2:not(#brand_name)::first-letter {
    color: #cc7a00;
}

#note {
    transition: color 0.5s;
}

#note:hover {
    color: #915700;
}

.break {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

#logo_in_text {
    display: none;
}

#button_box {
    display: flex;
    margin: 20px auto;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}

button {
    height: 100%;
    width: 20%;
    line-height: 100%;
    border: 0.5px solid #cc7a00;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #cc7a00;
}

button:focus {
    outline: none;
}

.proizvod {
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    border-top: 5px solid #915700;
    background-color: rgba(204, 122, 0, 0.281);
    text-align: center;
    display: none;
    border-bottom: 20px solid white;
}

.gallery {
    display: flex;
    margin: 20px auto;
    width: 90%;
    justify-content: space-between;
}

.gallery img {
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 850px) {
    #logo {
        display: none;
    }
    #logo_in_text {
        display: block;
        float: left;
        margin: 15px;
        height: 70px;
    }
}

@media screen and (max-width: 650px) {
    li {
        width: 100%;
        float: none;
        text-align: center;
    }
    ul {
        height: auto;
        position: static;
        display: flex;
        flex-direction: column-reverse;
    }
    #button_box {
        flex-wrap: wrap;
        margin: 20px auto 100px;
    }
    button {
        width: 45%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    #cover_text {
        width: 80%;
    }
    #brand_name {
        margin: 0;
    }
    section {
        width: 90%;
    }
    .break {
        height: 70px;
    }
    .gallery {
        margin: 10px auto;
        width: 100%;
    }
}