html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(204, 122, 0, 0.5);
}

.cover {
    margin: 0;
    text-align: center;
    height: 45%;
    background-size: cover;
    padding: 20px;
}

.cover_text {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 5px;
    width: 60%;
    border: 0.5px solid #cc7a00;
}

hr {
    width: 200px;
    margin: 0 auto;
    padding: 0;
    color: black;
}

.upper_title {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.main_title {
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Dancing Script", "Times New Roman", serif;
    font-weight: 100;
    padding: 0;
}

.letter {
    color: #cc7a00;
}

.proposition {
    font-size: 1.2em;
    font-weight: 100;
}

ul {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    list-style-type: none;
    background-color: #333333;
    height: 50px;
    z-index: 1;
}

.dropdown {
    display: none;
    z-index: 1;
    position: relative;
    top: 0;
    flex-direction: column;
    list-style-type: none;
    background-color: white;
}

.drop_init:hover .dropdown {
    display: flex;
}

.dropdown li {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s;
}

.dropdown li:hover {
    background-color: #333333;
}

.dropdown_a {
    display: block;
    margin: 0;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}

li {
    margin: 0;
    padding: 0;
    float: right;
    transition: background-color 0.5s;
}

#logo {
    float: left;
    height: 50px;
}

#logo:hover {
    background-color: black;
}

.nav_a {
    display: block;
    margin: 0;
    padding: 0 50px;
    line-height: 50px;
    height: 100%;
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #915700;
}

section:not(#kontakt) {
    padding: 20px 0;
    margin: 0px auto 20px;
    text-align: center;
    line-height: 1.5;
    width: 70%;
}

#kontakt {
    padding: 20px 0;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px auto;
}

h2:not(.upper_title)::first-letter {
    color: #cc7a00;
}

.bold_text {
    transition: color 0.5s;
}

.bold_text:hover {
    color: #915700;
}

.break {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    opacity: 0.3;
    position: relative;
    z-index: -1;
}

#logo_in_text {
    display: none;
}

#button_box {
    display: flex;
    margin: 20px auto;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 0 20px;
    height: 100%;
    width: 20%;
    line-height: 100%;
    border: 0.5px solid #cc7a00;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    line-height: 1.3;
}

.inactive {
    background-color: transparent;
}

.inactive:hover {
    background-color: #cc7a00;
}

.active {
    background-color: #cc7a00;
}

button:focus {
    outline: none;
}

.proizvod {
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    border-top: 5px solid #915700;
    background-color: rgba(204, 122, 0, 0.281);
    text-align: center;
    display: none;
    border-bottom: 20px solid white;
}

.product_page_from_div {
    color: #915700;
}

.gallery {
    display: flex;
    margin: 20px auto;
    width: 90%;
    justify-content: space-between;
}

.gallery img {
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.gallery_view {
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.img_container {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in_gallery {
    display: block;
    height: 90%;
    width: auto;
    max-width: 100%;
}

@media only screen and (orientation: portrait) {
    .in_gallery {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}

.close {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 3em;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: transparent;
    line-height: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    font-size: 3em;
    width: 5%;
    height: 50px;
    color: white;
    background-color: transparent;
    line-height: 100%;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.prev:hover, .next:hover, .close:hover {
    background-color: #cc7a00;
}

.cene_uvod {
    font-size: 0.9em;
    font-weight: lighter;
}

table, th, td {
    border: 0.8px solid #c79f63;
    border-collapse: collapse;
}

table {
    margin: 30px auto;
    width: 70%;
    table-layout: fixed;
}

th {
    padding: 10px;
    color: #c79f63;
    width: 50%;
}

td {
    padding: 5px;
    width: 50%;
}

tr:hover {
    background-color: #c79f63;
}

tr:first-child {
    background-color: #333333;
}

tr:first-child:hover {
    background-color: #333333;
}

#prices_note {
    width: 80%;
    background-color: rgba(196, 142, 61, 0.3);
    padding: 10px;
    border-left: 5px solid #915700;
    border-right: 5px solid #915700;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 0.9em;
}

#contact_div {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
}

.contact_subdiv {
    width: 50%;
}

.contact_subdiv:first-child {
    margin-top: 50px;
}

.contact_info {
    margin: 10px auto 40px;
    display: flex;
    align-items: center;
}

i[class*="icons"] {
    margin: 0 20px;
    transition: color 0.5s;
}

a[href*="mailto"] {
    color: #915700;
}

.contact_info:hover i {
    color: #cc7a00;
}

.contact_heading {
    color: #cc7a00;
}

form input, form textarea {
    margin: 10px 0;
    border-radius: 5px;
    padding: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    transition: border 0.2s;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

input:focus, textarea:focus {
    border: 1px solid #915700;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(145, 87, 0, 0.5);
}

#submit {
    padding: 15px;
    background-color: transparent;
    margin-top: 5px;
    transition: background-color 0.5s;
}

#submit:hover {
    background-color: #cc7a00;
}

#success_div, #fail_div {
    width: 80%;
    margin: 30px auto 10px;
    padding: 20px;
    border: 2px solid;
    border-radius: 5px;
}

#success_div {
    background-color: #d9f2d9;
    border-color: #67cb67;
}

#fail_div {
    background-color: #ffc6b3;
    border-color: #992600;
}

#submit_note {
    font-size: smaller;
    color: #a6a6a6;
    margin-left: 15px;
}

footer {
    margin: 40px 0 0 0;
    padding: 20px;
    color: #cc7a00;
    font-size: smaller;
    font-weight: lighter;
    background-color: #333333;
}

.back_to_top {
    display: none;
    width: max-content;
    margin: 20px auto;
    padding: 10px;
    border: 0.5px solid #cc7a00;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
}

.back_to_top:hover {
    background-color: #cc7a00;
}

                                /* Product page specific styles */

.product_intro {
    margin: 50px auto;
    width: 70%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    padding: 0 10px;
}

.product_intro p:first-child::first-line {
    line-height: 1;
}

.product_intro p:first-child::first-letter {
    font-size: 3em;
    color: #cc7a00;
    font-family: "Dancing Script", serif;
    font-weight: bolder;
}

#etikete_listings, #cestitke_listings, #tagovi_listings {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.listing_div {
    width: 20%;
    margin: 20px auto;
    border: 1px solid #ffebcc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.listing_div:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.listing_title {
    font-size: 1.1em;
    margin: 5px auto 0px;
}

.listing_code {
    font-size: 0.9em;
    margin: 0;
    font-weight: lighter;
}

.listing_img {
    width: 100%;
    margin: 10px auto;
    cursor: pointer;
}

.listing_img:hover {
    opacity: 0.7;
}

.listing_description {
    margin: 0 auto;
    font-size: 0.9em;
}

                                        /* Media queries */

@media screen and (max-width: 850px) {
    #logo {
        display: none;
    }
    #logo_in_text {
        display: block;
        float: left;
        margin: 15px;
        height: 70px;
    }
    .prev, .next {
        width: 10%;
    }
    .in_gallery {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    table {
        width: 80%;
        min-width: 300px;
    }
    #contact_div {
        flex-direction: column;
    }
    .contact_subdiv {
        width: 100%;
    }
    .contact_subdiv:first-child {
        margin-top: 0;
    }
    .contact_info:last-child {
        width: 300px;
    }
    .contact_info {
        text-align: center;
        width: 200px;
    }
    .listing_div {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    li {
        width: 100%;
        float: none;
        text-align: center;
    }
    ul {
        height: auto;
        position: static;
        display: flex;
        flex-direction: column-reverse;
    }
    .dropdown {
        display: flex;
    }
    #button_box {
        flex-wrap: wrap;
        margin: 20px auto 100px;
    }
    button {
        width: 45%;
        margin: 5px 5px;
    }
    section:not(#kontakt) {
        width: 80%;
    }
    .back_to_top {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #cover_text {
        width: 80%;
    }
    #brand_name {
        margin: 0;
    }
    section {
        width: 90%;
    }
    .product_intro {
        width: 90%;
    }
    .break {
        height: 70px;
    }
    .gallery {
        margin: 10px auto;
        width: 100%;
    }
    .gallery img:last-child, .gallery img:nth-child(2) {
        display: none;
    }
    .gallery img:first-child {
        width: 100%;
    }
    .listing_div {
        width: 100%;
    }
    #etikete_listings {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .cover_text {
        width: 80%;
    }
}